* {
    background-color: black;
}

.Intro {
    color: rgb(251,187,36);
}
.logo {
    border: 8px solid;
    border-color: rgb(36,171,227);
}

.dpa {
    border: 8px solid;
    border-color: rgb(36,171,227);
}

