* {
    background-color: black;
}

.rounded-corners-1 {
    border: 15px solid;
    border-color: rgb(36,171,227);
}

.group-name {
    text-align: left;
    width: 72%;
    font-size: 170%;
    color: rgb(235,28,36);
    float: right;
}

.logo-image {
    text-align: left;
    width: 28%;
}

section {
    color: rgb(251,187,36);
}

.starbucks {
    text-align: center;
    font-size: 120%;
}

.black-bear-diner {
    text-align: center;
    font-size: 120%;
}

.daily-drip {
    text-align: center;
    font-size: 120%;
}

.uptown {
    text-align: center;
    font-size: 120%;

}

.google_maps {
    color: rgb(36,171,227);
}

.apple_maps {
    color: rgb(235,28,36);
}